# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

In [3]:
import numpy as np
import pandas as pd

### Step 2. Create a data dictionary that looks like the DataFrame below

In [1]:
dataset = {
    'name' : ['Bulbasaur','Charmander','Squirtle','Caterpie'],
    'evolution': ['Ivysaur','Charmeleon','Wartotle','Metapod'],
    'hp': [45,39,44,45],
    'pokedex': ['yes','no','yes','no'],
    'type': ['grass','fire','water','bug'],
}

### Step 3. Assign it to a variable called pokemon

In [5]:
pokemon = pd.DataFrame(dataset)
pokemon

         name   evolution  hp pokedex   type
0   Bulbasaur     Ivysaur  45     yes  grass
1  Charmander  Charmeleon  39      no   fire
2    Squirtle    Wartotle  44     yes  water
3    Caterpie     Metapod  45      no    bug

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

In [6]:
pokemon = pokemon[['name','type','hp','evolution','pokedex']]

### Step 5. Add another column called place, and insert what you have in mind.

In [8]:
place = ['India','China','Pakistan','Bangladesh']
pokemon['Place'] = place

/var/folders/c8/vb33lm95521ccl9r7zjb1hvc0000gp/T/ipykernel_19555/3342814254.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pokemon['Place'] = place

### Step 6. Present the type of each column

In [10]:
result = pokemon.dtypes
print(result)

name         object
type         object
hp            int64
evolution    object
pokedex      object
Place        object
dtype: object

### BONUS: Create your own question and answer it.